:html{
    scroll-behavior: smooth;

}

.navbar{
    background-color: rgb(255, 255, 255);
    padding: 0 10%;
    border-bottom: 7px solid purple;
}
#title{
    /* background-image: linear-gradient(#e74cff, black); */
    background-image: url("laptop.webp");
    /* background-color: #e74cff;  */
}
#features{
    padding: 7% 10%;
    /* background-image: linear-gradient(pink, purple); */
    margin:  auto;
    position: relative;
    z-index: 1;
}
h1{
    color: white;
    font-size: 3.5rem;
    line-height: 1.5;
    font-style: "Montserrat";
    font-weight:900;
    
}
.container-fluid{
    padding: 3% 10%;
    padding-bottom: 50px;
}
.container-fluid-2{
    padding: 3% 10%;
}
button{
    padding: 10%;
}

.navbar-brand{
    font-size: 2.5rem;
    font-family: "Ubuntu";
    font-weight: thin;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size:1.2rem ;
    font-family: "Montserrat";
    font-weight: 500;
}

.download-btn{
    margin: 7% 5% 10% 0;
}
h3{
    font-style: "Montserrat";
    font-weight: 900;
    font-size: 2 rem;
    margin: auto 0;
    line-height: 1.5;
    text-align: center;
}
.fa-solid{
    color: #d794f4;
    font-size: 3.5rem;
    padding-top: 20px;
}
.fa-solid:hover{
    color: #cf4cff;
}
p{
    color:#8f8f8f ;
    margin: auto;
    width: 80%;
    text-align: center;
    font-size: 1rem;
}

#testimonials{
    text-align: center;
    background-color: #fefefe;
    color: rgb(0, 0, 0);
}
.carousel-item{
    padding: 7% 16%;
}
.navbar-logo{
    padding: 1% 1%;
    width: 6%;
}
h2{
    font-style: "Montserrat";
    font-weight: 900;
    line-height: 1.5;
    font-size: 3rem;
}
.professional-image{
    width: 30%;
    border-radius: 100%;
    margin: 20px;
}
.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
#press{
    text-align: center;
    background-color: #ffffff;
    padding-bottom: 3%;
}
.press-logo{
    margin: 30px 50px 50px;
    width: 15%;
}

#pricing{
    background: linear-gradient(rgb(76, 156, 235),purple);
    padding: 100px;
    text-align: center;
}
.pricing-column{
    padding: 3% 2%;
}
#professionals{
    background: linear-gradient(rgb(76,156,235),purple);
    padding: 100px;
    text-align: center;
}
.prof-column{
    padding: 3% 2%;
}
.laptop{
    display: none;
}

@media (max-width: 990px) {
    #title{
        text-align: center;
        background: linear-gradient(#e74cff, black);
    }
    .navbar-logo{
        display: none;
    }
}

#cta{
    background-color: #ffffff;
    text-align: center;
    padding: 7% 18%;
}
.cta-text{
    color: rgb(0, 0, 0);
    font-style: "Montserrat";
    font-weight: 900;
    font-size: 3.5rem;
}
.download-btn-cta{
    margin: 7% 2% 0;
}
#footer{
    background-color: black;
    padding: 0 5% 2%;
    text-align: center;
}
.ctai{
    text-align: center;
    font-size: 2rem;
    padding: 3% 1% 1%;
    color: rgb(255, 255, 255);
}
.ctai:hover{
    color: #ed72ef;
}
.w-100{
    margin: 3% 0;
}